<label for="upload" (click)="clickUpload.click()">
  <img src="assets/images/cloud-upload.svg" alt="upload">
  <span>Choose file</span>
</label>
<input type="file" name="upload" id="fileUpload" #clickUpload (change)="onFileChange($event)" accept=".xls,.xlsx,.json" placeholder="Select file" />
<span>{{selectedFile.name}}</span>

<div class="d-flex justify-content-end gap-4 mt-5">
  <button type="button" class="btn btn-primary" (click)="convertFile()">Excel to JSON</button>
  <button type="button" class="btn btn-success" (click)="convertJSON()">JSON to Excel</button>
</div>
